html,
body,
#root,
.App {
    height: 100%;
    background-color: #403F4C;
    color: #F9DC5C;
}

.App {
    text-align: center;
    align-content: flex-start;
    background-color: #403F4C;
    display: flex;
    flex-direction: column;
    font-family: Comfortaa, serif;
}

.Content {
    display: flex;
    flex-direction: row;
}

body {
    height: 100%;
}

.App-logo {
    height: 40vmin;
    pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
    .App-logo {
        animation: App-logo-spin infinite 20s linear;
    }
}

.App-header {
    /* background-color: #fdfdff; */
    min-height: 100vh;
    /* display: flex; */
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
}

.App-link {
    color: #3185fc;
}

@keyframes App-logo-spin {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(360deg);
    }
}
