.PostContainer {
    flex-direction: column;
    width: 50%;
    height: 80vh;
}

.Post {
    position: relative;
    background: #BDCFE0;
    border-radius: 233.5px;
    height: 33%;
    width: 100%;
}

.PostContent {
    font-family: "Times New Roman", Serif;
    font-size: 1.5rem;
    background: #FFFFFF;
    width: 80%;
    height: 50%;
    margin: auto;
    text-align: left;
}

.Timestamp {
    font-size: 0.7rem;
    text-align: right;
    font-family: "Lucida Console", monospace;
    width: 80%;
    margin: auto;
}
