.PostContainer {
    flex-direction: column;
    width: 80%;
    height: 80vh;
    align-items: center;
}

.DisplayName {
    padding-top: 0.5rem;
}
.Post {
    position: relative;
    border-radius: 1.5rem;
    height: 33%;
    margin-bottom: 2rem;
    width: 100%;
    background-color: rgba(129, 126, 168, 0.49);
}

.PostContent {
    padding: 0.5rem;
    font-family: 'Times New Roman', Serif;
    font-size: 1.2rem;
    color: #F9DC5C;
    background-color: #403F4C;
    width: 90%;
    height: 50%;
    margin: auto;
    text-align: left;
    overflow-wrap: normal;
    border-radius: 1rem;
}

.Timestamp {
    font-size: 0.7rem;
    text-align: right;
    font-family: 'Lucida Console', monospace;
    width: 80%;
    margin: auto;
    color:rgba(249, 220, 92, 0.70);
}

.NewPost {
    width:90%;
    margin-top: 0.5rem;
    margin-left: auto;
    margin-right: auto;
    height:30%;
    align-content: center;
    background-color: rgba(129, 126, 168, 0.49);
    border-radius: 1rem;
}

.NewPost .P {
    padding: 0.5rem;
    color: #000000;
    background-color: #F9DC5C;
    width: fit-content;
    margin: auto;
    border-radius: 1rem;
}

.textA {
    resize: none;
    width: 90%;
    height: 5rem;
    color: #F9DC5C;
    padding: 0.5rem;
    background-color: #403F4C;
}

.textA::placeholder {
    color:rgba(249, 220, 92, 0.50);
}
