.PostContainer {
    flex-direction: column;
    width: 80%;
    height: 80vh;
    align-items: center;
}

.DisplayName {
    padding-top: 0.5rem;
}
.Post {
    position: relative;
    background: #bdcfe0;
    border-radius: 1.5rem;
    height: 33%;
    margin-bottom: 2rem;
    width: 100%;
}

.PostContent {
    padding: 0.5rem;
    font-family: 'Times New Roman', Serif;
    font-size: 1.5rem;
    background: #ffffff;
    width: 90%;
    height: 50%;
    margin: auto;
    text-align: left;
    overflow-wrap: normal;
}

.Timestamp {
    font-size: 0.7rem;
    text-align: right;
    font-family: 'Lucida Console', monospace;
    width: 80%;
    margin: auto;
}
