.Menu-Container {
    background-color: white;
    /* margin-left:2rem; */
    height: auto;
    /* took this off and moved it to the hamburger and it fixed the menu rendering on top */
    /* position: fixed; */
    width: auto;
    flex: 1;
}

/* this is the hamburger */
div.Menu {
    position: fixed;
    margin: 1rem;
}

.Menu-Items {
    text-align: left;
    /* height: 100%; */
    background-color: lightgray;
    /* margin:1rem; */
    padding: 0.4rem;
    margin: 0.5rem 0.5rem 0rem 0rem;
    border-radius: 0.3rem;
    display: inline-flex;
    flex-direction: column;
    align-items: flex-start;
}

.rc-menu {
    padding: 0;
    list-style-type: none;
}

.rc-menu-item {
    list-style-type: none;
    padding-left: 0;
    font-size: 1.3rem;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rc-menu {
    /* height:10%; */
    background-color: inherit;
    width: 100%;
}

.Menu-Items {
    width: 10%;
}

.Menu-Item {
    border: 1px;
    border-color: black;
    padding: 0.4rem;
    /* font-size: large; */
}

.rc-menu-item:hover {
    background-color: lightblue;
}

.rc-menu-item#header {
    background-color: pink;
}

.invisible {
    display: none; /* removes it from render instead of just invisible */
    /* visibility: hidden; */
}
