.ProfileContainer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex: 1;
    /* flex-grow: 10000; */
    margin-top: 0.5rem;
}

.Profile {
    display: flex;
    width: 90%;
    background-color: rgba(129, 126, 168, 0.49);
    height: auto;
    margin-bottom: 1rem;
    border-radius: 1rem;
}

.ProfileImageContainer {
    flex-direction: column;
    flex: 1;
}

.ProfileImage {
    flex: 1;
    margin: 1rem;
    /* min-height: 2rem; */
    background-color: #61dafb;
    border-radius: 1rem;
}

.DisplayName {
    /* flex: 1; */
    margin: 1rem;
    /* color: #403f4c; */
}

.DisplayName:hover {
    color: #3185fc;
    text-decoration: underline blue;
    font-weight: bold;
}

.ProfileInfo {
    flex: 4;
    text-align: left;
    align-items: flex-start;
    margin: 1rem;
}

.ProfileItems {
    text-align: left;
    margin: 1rem;
    height: auto;
    display: flex;
}

.ProfileButton {
    background-color: #3185fc;
    color: #f9dc5c;
    margin: 1rem;
    position: relative;
    height: 2rem;
    width: 5rem;
    border-radius: 10px;
}
.ProfileButton:hover {
    background-color: #6199e7;
}

#ProfileButton ul {
    display: flex;
    list-style: none;
}

.ProfileOptions {
    background-color: #3185fc;
    color: #f9dc5c;
    margin: 1rem;
    height: 2rem;
    width: 3rem;
    border-radius: 10px;
}
.ProfileOptions:hover {
    background-color: #6199e7;
}

.ProfileTabs {
    text-align: left;
    background-color: #6199e7;
    width: 90%;
}

.TabList {
    align-items: start;
}

.BioContainer {
    background-color: white;
    margin: 1rem;
    min-height: 100px;
    border-radius: 20px;
}

.Bio {
    padding: 10px 20px;
    text-align: left;
}

.SpotifyPlayer {
}

.TinyProfile {
    width: 3rem;
    margin: 0 1rem 1rem;
}

.TinyProfileImage {
    width: 100%;
    border-radius: 50%;
}

.TinyProfileImage:hover {
    opacity: 0.7;
}

.ProfileList {
    display: flex;
    padding-left: 0.2rem;
}
