.SearchView {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.SearchProfileContainer {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.react-search-field-input {
    height: auto !important;
}
