.TopContainer {
    display: inline-grid;
    grid-template-columns: 17rem 50rem 40rem;
    /*padding: 1rem 0.5rem;*/
    /*margin: 0rem 2rem 2rem;*/
    height: 3rem;
}

.logo{
    padding-top: 0.5rem;
    background-color: mediumpurple;
}

.SearchBar{
}

.AlertImg {
    margin-left: 20rem;
    width: 20%;
    background-color: #c4c4c4;
}

