.TopContainer {
    display: inline-grid;
    /*grid-template-columns: 17rem 50rem 40rem;*/
    grid-template-columns: 23% 50% 27%;
    /*padding: 1rem 0.5rem;*/
    /*margin: 0rem 2rem 2rem;*/
    height: 3rem;
}

.logo {
    padding: 0.5rem;
    font-size: xx-large;
    font-style: normal;
    font-weight: normal;
    align-items: center;
    text-align: center;
    color: #F9DC5C;
    background-color: #E84855;
    border-bottom-right-radius: 1rem;
}

.SearchBar {
}

.AlertImg {
    /*margin-left: 20rem;*/
    width: 30%;
    height: inherit;
    /*background-color: #c4c4c4;*/
}
.bell {
    width: auto;
    height: inherit;
}

.bell:hover {
    background-color: mediumpurple;
}

.Utility {
    width: inherit;
    height: inherit;
}
