.TopContainer {
    display: inline-grid;
    /*grid-template-columns: 17rem 50rem 40rem;*/
    grid-template-columns: 30% 50% 20%;
    /*padding: 1rem 0.5rem;*/
    /*margin: 0rem 2rem 2rem;*/
    height: 3rem;
}

.logo {
    padding-top: 0.5rem;
    font-size: xx-large;
    background-color: #3185fc;
    color: #f9dc5c;
}

.SearchBar {
}

.AlertImg {
    /*margin-left: 20rem;*/
    width: 20%;
    height: 60%;
    /*background-color: #c4c4c4;*/
}
.bell {
    width: 100%;
    height: 100%;
}

.bell:hover {
    background-color: mediumpurple;
}
