.App {
  text-align: center;
  align-content: flex-start;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu-Container{
  background-color: aliceblue;
  margin-left:2rem;
  /* display: flex; */
  flex-direction: column;
  flex: auto;
  align-self: flex-start;
}

div.Menu {
  margin: 2rem;
}

.Menu-Items {
  background-color: lightgray;
  margin:1rem;
  padding:0.4rem;
  border-radius: 0.3rem;
  display: flex;
  flex-direction: column;
  align-items: left;
  
}



.rc-menu-item{
  list-style:none;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rc-menu{
  height:10%;
  background-color: blanchedalmond;
}

.Menu-Item{
  border:1px;
  border-color: black;
  padding:0.4rem;
  /* font-size: large; */
}

.rc-menu-item:hover {
    background-color: lightblue;

}
.rc-menu-item#header{
  background-color: pink;
}
.invisible {
  display:none; /* removes it from render instead of just invisible */
  /* visibility: hidden; */
}


