.App {
  text-align: center;
  align-content: flex-start;
  background-color: aliceblue;
  display: flex;
  flex-direction: column;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  /* display: flex; */
  /* flex-direction: column; */
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.Menu-Container{
  background-color: white;
  margin-left:2rem;
  height: auto;
  position: fixed;
  width: 15%;
  flex: 1;
}

div.Menu {
  margin: 2rem;
}

.Menu-Items {
  background-color: lightgray;
  margin:1rem;
  padding:0.4rem;
  border-radius: 0.3rem;
  display: inline-flex;
  flex-direction: column;
  align-items: flex-start;
}



.rc-menu-item{
  list-style:none;
  font-size: 40px;
  font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

.rc-menu{
  height:10%;
  background-color: blanchedalmond;
}

.Menu-Item{
  border:1px;
  border-color: black;
  padding:0.4rem;
  /* font-size: large; */
}

.rc-menu-item:hover {
    background-color: lightblue;

}
.rc-menu-item#header{
  background-color: pink;
}
.invisible {
  display:none; /* removes it from render instead of just invisible */
  /* visibility: hidden; */
}

.Profile{
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  flex: 1;
}

.ProfileContainer {
  display: flex;
  background-color: #c4c4c4;
  height: auto;
}

.ProfileImage {
  margin: 10px;
  background-color: #61dafb;
}

.ProfileInfo {
  text-align: left;
  align-items: flex-start;
}

.ProfileItems {
  text-align: left;
  padding-top: 10px;
  height: auto;
}

.ProfileButton {
  background-color: aquamarine;
  margin-right: 20px;
  margin-bottom: 10px;
  position: relative;
  height: 17%;
  width: 20%;
  border-radius: 10px;
}

.ProfileOptions {
  background-color: aquamarine;
  margin: 20px 10px 10px;
  height: 17%;
  width: 7%;
  border-radius: 10px;
}

.ProfileTabs {
  background-color: cadetblue;
}

.TabList {
  align-items: start;
}

.BioContainer {
  background-color: white;
  margin: 10px;
  min-height: 100px;
  border-radius: 20px;
}

.Bio {
  padding: 10px 20px;
  text-align: left;
}

